# Select port (default: 3000) and profile 
PORT=42069
ALCHEMY_RPC_KEY=...

# (Optional) Postgres database URL. If not provided, SQLite will be used.
DATABASE_URL=...

# Indexing control
MAX_REQUESTS_PER_SECOND=10
POLLING_INTERVAL_MS=30000

# Config
ENABLE_TRANSACTION_LOG=false